
#_auth=YWRtaW46cGFzc3cwcmQ=
#_auth=YWRtaW46cGFzc3dvcmQ=
//registry.npmjs.org/:_authToken=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
allowRepublish=true
#always-auth=true
email=devopstrainingblr@gmail.com
