
#_auth=YWRtaW46cGFzc3cwcmQ=
#//registry.npmjs.org/:_auth=YWRtaW46cGFzc3dvcmQ=
#//3.108.234.158:8081/repository/nodejs-mehul/:_authToken=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
//15.207.21.60:8081/repository/nodejs-mehul/:_auth=YWRtaW46cGFzc3dvcmQ=
#npm adduser --auth-type=legacy --registry=http://3.108.234.158:8081/repository/nodejs-mehul/
#_auth=YWRtaW46cGFzc3dvcmQ=
allowRepublish=true
#always-auth=true
email=devopstrainingblr@gmail.com
