
#_auth=YWRtaW46cGFzc3cwcmQ=
#_auth=YWRtaW46cGFzc3dvcmQ=
#//3.108.234.158:8081/repository/nodejs-mehul/:_authToken=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
//3.108.234.158:8081/repository/nodejs-mehul/:_authToken=YWRtaW46cGFzc3dvcmQ=
#_auth=YWRtaW46cGFzc3dvcmQ=
allowRepublish=true
#always-auth=true
email=devopstrainingblr@gmail.com
